<div class="container" ng-if="currentUser && !isVerified">
  <div class="row">
    <div class="col-md-12">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 upcoming" align="center">
      <div class="btn-group buttonshow" role="group">
        <a class="btn btn-default" type="button" ui-sref="app.showsToday" ng-class="{active: stateis('app.showday')}">Today </a>
        <a class="btn btn-default" type="button" ui-sref="app.showsTomorrow">Tomorrow </a>
        <a class="btn btn-default" type="button" ui-sref="app.showsThisWeek">This Week </a>
      </div>
    </div>
    <div ui-view="showday"></div>
  </div>
</div>

<div id="content" class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <h1>Popular Shows</h1>
    </div>
    <div class="col-xsl-6 col-xs-12 col-sm-6 col-md-4" ng-repeat="show in shows | limitTo: 12">
      <div class="thumbnail">
        <img src="{{show.poster}}" alt="{{show.seriesName}}">
        <div class="clearfix"></div>
        <div class="caption">
          <p class="title">
            <a class="title" ui-sref="app.series({seriesId: show._id})" title="{{show.seriesName}}"><b>{{show.seriesName}}</b></a>
          </p>
          <p class="info"><b>{{show.network}}</b> <span class="rating"><i class="fa fa-star fa-lg star" aria-hidden="true"></i>  {{show.rating}}</span></p>
          <p class="info"><i class="fa fa-calendar" aria-hidden="true"></i>  {{show.firstAired | date: 'yyyy'}}</p>
          <div class="cap">
            <span ng-repeat="genre in show.genre"><b>{{genre}}</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>