<div class="container upcoming">
    <div class="row">
        <div class="col-xsl-6 col-xs-12 col-sm-6 col-md-4" ng-repeat="actor in actors">
            <div class="thumbnail actors-thumb">
                <img src="{{actor.image}}" alt="{{actor.name}}">
                <div class="clearfix"></div>
                <div class="caption">
                    <h4><b>{{actor.name}}</b></h4>
                    <p class="title"><em>{{actor.role}}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>