
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-6 footer-navigation">
				<h3><a href="#">Watch<span>hours </span></a></h3>
				<p class="links"><a ui-sref="app">HOME</a><strong> · </strong><a ui-sref="app.search">TV SHOWS</a><strong></p>
				<p
						class="company-name">Company Name © 2017 </p>
			</div>
			<div class="col-md-4 col-sm-6 footer-contacts">
				<div><span class="fa fa-map-marker footer-contacts-icon"> </span>
					<p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
				</div>
				<div><i class="fa fa-phone footer-contacts-icon"></i>
					<p class="footer-center-info email text-left"> +1 555 123456</p>
				</div>
				<div><i class="fa fa-envelope footer-contacts-icon"></i>
					<p> <a href="#" target="_blank">support@company.com</a></p>
				</div>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 footer-about">
				<h4>About the company</h4>
				<p> Get to know your favorite TV shows and stay hooked to your TV
				</p>
				<div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
			</div>
		</div>
	</div>
</footer>
