<div class="ngdialog-message">
        <div class="">
            <h3 class="text-center">Login </h3>
            <hr/>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doLogin()">
                <div class="form-group col-xs-12">
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" class="form-control input-lg" id="username" placeholder="Username" ng-model="loginData.username">
                </div>
                <div class="form-group col-xs-12">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" ng-model="loginData.password">
                </div>
                <div class="form-group col-xs-12">
                    <a class="register" ng-click=openRegister()>Click here to register</a>
                </div>
                <div class="form-group col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-info btn-lg btn-block">Sign in</button>
                </div>
                <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-click=closeThisDialog("Cancel")>Cancel</button>
                </div>
            </form>
        
            <div class="form-group col-xs-12">
                <a href="users/facebook" target="_self" type="button" class="btn btn-block btn-lg btn-social btn-facebook">
                    <span class="fa fa-facebook left"></span>   Sign in with Facebook
                </a>
            </div>
            <div class="form-group col-xs-12">
                <button type="button" class="btn btn-block btn-lg btn-social btn-google"><i class="fa fa-google-plus right"></i> Sign in with Google+</button>
            </div>
            &nbsp;&nbsp;
        </div>
    </div>