<div class="container-fluid">
    <div class="row others-card">
        <div class="col-xsp-12 col-xs-6">
            <form class="form-signin" novalidate>
                <h1><i class="glyphicon glyphicon-film"></i></h1>
                <h1><a ui-sref="app">WatchHours</a></h1>
            </form>
        </div>
        <div class="col-xsp-12 col-xs-6 tile">
            <form class="form-signin" novalidate>
                <h4>Sign in with</h4>
                <a href="users/facebook" target="_self" type="submit" class="btn btn-primary btn-block btn-lg btn-signin"><i class="fa fa-facebook-official"></i> Facebook</a>
                    <a ui-sref="app.register">New User? Sign In Here.</a>
            </form>
        </div>
    </div>
</div>