<div class="container-fluid">
    <div class="row">
        <div class="login-card">
            <form class="form-signin" ng-submit="doRegister()" novalidate>
                <h1><i class="glyphicon glyphicon-film"></i></h1>
                <h1><a ui-sref="app">WatchHours</a></h1>
                <formly-form model="user" fields="userFields" form="vm.userForm">
                    <button type="submit" class="btn btn-primary btn-block btn-lg btn-signin" ng-disabled="vm.userForm.$invalid">Register</button>
                    <a type="button" ui-sref="app.login" class="btn btn-primary btn-block btn-lg btn-signin">Already a Member?</a>
                </formly-form>
            </form>
            <a ui-sref="app.login.otherSignIn" class="forgot-password">Other Sign in options</a>
        </div>
    </div>
</div>