
<div class="jumbotron">
  <div class="container">
    <ul class="alphabet">
      <li ng-repeat="char in alphabet">
        <span ng-click="filterByAlphabet(char)">{{char}}</span>
      </li>
    </ul>
    <br/>
    <ul class="genres">
      <li ng-repeat="genre in genres">
        <span ng-click="filterByGenre(genre)">{{genre}}</span>
      </li>
      <li>
        <span ng-click="showAll()">Show All</span>
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="search form-control input-lg" aria-label="input" placeholder="Search by series name" ng-model="search.seriesName">
      </div>
    </div>
  </div>
</div>

<div id="content-search" class="container">
  <div class="flex-row">
    <div class="col-xsl-6 col-xs-12 col-sm-6 col-md-4" ng-repeat="show in filtered = shows  | filter: search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
      <div class="thumbnail">
        <img src="{{show.poster}}" alt="{{show.seriesName}}">
        <div class="clearfix"></div>
        <div class="caption">
          <p class="title">
            <a class="title" ui-sref="app.series({seriesId: show._id})" title="{{show.seriesName}}">{{show.seriesName}}</a>
          </p>
          <p class="info">{{show.network}} <span class="rating"><i class="fa fa-star fa-lg star" aria-hidden="true"></i>  {{show.rating}}</span></p>
          <p class="info"><i class="fa fa-calendar" aria-hidden="true"></i>  {{show.firstAired | date: 'yyyy'}}</p>
          <div class="cap">
            <span class="label label-default" ng-repeat="genre in show.genre">{{genre}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="text-center">
      <ul uib-pagination boundary-links="true" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
  </div>
</div>