

<ol class="breadcrumb">
  <li><a href="./home">Home</a></li>
  <li class="active">Subscriptions</li>
</ol>

<div class="container-fluid">
      <div class="panel panel-primary top">
        <div class="panel-heading">
          <h3 class="panel-title">Your subscriptions</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-6 col-md-3 modPanel" ng-repeat="show in shows | orderBy:'rating':true" ng-if="show.subscribers.indexOf(uid) !== -1">
            <div class="thumbnail">
              <a href="/shows/{{show._id}}">
                <img class="poster" style="height:260px;" ng-src="{{show.poster}}"/>
              </a>
              <a href="/shows/{{show._id}}">
                <div class="caption">
                  <p>{{show.seriesName}}</p>
                  <p>Episodes: {{show.episodes.length}}</p>
                  <p>Airs: {{show.airsDayOfWeek}}</p>
                  <p>Airs At: {{show.airsTime}}</p>
                  <p>Airs On: {{show.network}}</p>
                  <p>Status: {{show.status}}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
</div>
