<div class="container-fluid">
    <div class="row">
        <div class="login-card">
            <form class="form-signin" ng-submit="doRegister()" novalidate>
                <h1><i class="glyphicon glyphicon-film"></i></h1>
                <h1><a ui-sref="app">WatchHours</a></h1>
                <formly-form model="user" fields="userFields" form="vm.userForm">
                    <button type="submit" class="btn btn-primary btn-block btn-lg btn-signin" ng-disabled="vm.userForm.$invalid">Register</button>
                    <div ng-if="invalid">
                        <p>Passwords do not match
                    </div>
                    <a type="button" ui-sref="app.login" class="btn btn-primary btn-block btn-lg btn-signin">Already a Member?</a>
                </formly-form>
            </form>
        </div>
    </div>
    <div class="row" style="z-index: 100; text-align: center;" ng-if="!currentUser">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
</div>