<div class="container upcoming">
    <div class="row">
        <div class="col-xsl-6 col-xs-12 col-sm-6 col-md-4" align="center" ng-repeat="actor in actors">
            <div class="thumbnail actors-thumb">
                <img src="{{actor.image}}">
                <div class="clearfix"></div>
                <div class="caption">
                    <h4><b>{{actor.name}}</b></h4>
                    <p class="title"><em>{{actor.role}}</em></p>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <ul uib-pagination max-size="0" total-items="totalItems" items-per-page="6" ng-model="currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getActors(currentPage-1)" rotate="false"></ul>
    </div>
</div>
