<div class="container">
    <div class="row">
        <div class="col-xs-12" align="center">
        	<div class="poster" ng-repeat="poster in posters">
            	<a href="{{poster.poster}}" data-lightbox="{{show.seriesName}}" data-title="{{show.seriesName}}"><img src="{{poster.poster}}" alt="Image#{{$index}}"></a>
        	</div>
        </div>
    </div>

    <div class="text-center">
        <ul uib-pagination max-size="0" total-items="totalItems" items-per-page="entryLimit" ng-model="currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getPosters(currentPage-1)" rotate="false"></ul>
    </div>
</div>
